.showEmployee {
    display: flex;
    border: 1px solid gray;
}

.employee {
    width: 100%;
    padding-left: 200px;
}

.image {
    padding-left: 200px;
}

.addBtn {
    background-color: beige;
    padding: 3px;
    width: 150px;
    cursor: pointer;
}